<form method="post" action="/verify">
    <input type="hidden" name="email" value="<%=email%>">
    <input type="text" name="hash" placeholder="Enter verification code">
    <input type="submit" value="Verify">
</form>